[Unit]
Description=The Attention Handler service
Wants=obmc-mapper.target
After=obmc-mapper.target
After=mapper-wait@-xyz-openbmc_project-logging.service
After=fsi-scan@0.service
After=op-cfam-reset.service
After=cfam_override@0.service
Conflicts=obmc-host-stop@0.target

[Service]
ExecStart=/usr/bin/openpower-hw-diags --daemon
Restart=on-failure

[Install]
WantedBy=obmc-host-startmin@0.target
